:root {
  --primary-color: #5e3bee;
  --heading-color: #282938;
  --drible-color: #e62872;
  --body-color: #1c1e53;
  --bg-shade: #f5fcff;
  --white: #ffffff;
}
/* common css start */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
section {
  margin-bottom: 4rem;
  padding-inline: 2rem;
}

/* common css end */
/* common classes start  */
.d-flex {
  display: flex;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.justify-space-between {
  justify-content: space-between;
}
.flex-basis {
  flex-basis: 100%;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.btn {
  text-align: center;
  border: 2px solid var(--primary-color);
  padding: 12px 16px;
  color: var(--primary-color);
  border-radius: 5px;
  /* font-weight: 400; */
}

.blue-btn {
  color: var(--white);
  background-color: var(--primary-color);
}
.grid {
  display: grid;
}

.sub-section-heading {
  font-size: 2.5rem;
  margin: 0;
}
/* common classes end */

/* css start  */

/* header section start  */
header {
  padding: 1rem 2rem;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: 99;
}
.header-container img {
  height: 40px;
}

.header-container nav {
  color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
}
.header-container nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

header #menu-icon {
  display: none;
}

/* header section end  */

/* hero section start  */
#hero-section {
  padding-top: 4rem;
  background-color: var(--bg-shade);

  /* display: none; */
}

#hero-section .left-div h3 {
  font-weight: 400;
}

#hero-section .left-div h1 {
  font-size: 64px;
  margin-block: 0;
}

#hero-section .left-div h1 span {
  color: var(--primary-color);
}
#hero-section .blue-btn {
  display: inline-block;
  margin-top: 1.5rem;
}
#hero-section img {
  width: 100%;
}

/* hero section end  */

/* skill section start  */
#skill-section {
}

#skill-section .skills-card {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2rem;
  margin-top: 4rem;
}

#skill-section .skills-card h3 {
  font-size: 1.3rem;
}
#skill-section .skills-card .card {
  background-color: var(--bg-shade);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 16px 8px rgba(245, 252, 255, 0.1);
  border-bottom: 3px solid transparent;
}

#skill-section .skills-card .card:hover {
  border-bottom: 3px solid var(--primary-color);
  border-radius: 0.5rem;
}

/* skill section end  */

/* about me section start  */
#about-me .container {
  gap: 3rem;
}
#about-me .container .left-div {
  width: 50%;
}
#about-me .container .left-div img {
  width: 100%;
}

#about-me .container .right-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-me .container .right-div p:nth-child(3) {
  font-size: 1rem;
  margin-top: 3rem;
}
/* about me section end  */
/* dribbble section start  */

.my-portfolio-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dribble-btn {
  background-color: var(--drible-color);
  text-align: center;
  border: 2px solid var(--drible-color);
  padding: 0.6rem 1rem;
  border-radius: 5px;
}

.dribble-btn a {
  color: var(--white);
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin-top: 4rem;
  /* background-color: red; */
}

.projects-container img {
  width: 100%;
}

.projects-container .project {
  border-radius: 0.5rem;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  /* background-color: blue; */
}
.project .project-info {
  padding-inline: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}
.project .project-info h2 {
  margin-top: 0;
}

.project .project-info p {
  margin-bottom: 2rem;
}
.projects-container .dribble-view-link {
  color: var(--body-color);
  font-weight: 500;
  position: relative;
  font-size: 1.1rem;

  /* border-bottom: 2px solid var(--primary-color); */
}

.projects-container .dribble-view-link::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 1.5px;
  width: 125px;
  top: 2rem;
  left: 0;
  /* top: 3rem; */
  /* left: 5rem; */
}
.projects-container .dribble-view-link i {
  font-size: 1.1rem;
}
/* dribbble section end  */
/* feedback section start  */

#clients-feedback {
  background-color: var(--bg-shade);
  padding-block: 4rem;
}
.feedback-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin-top: 4rem;
}
.feedback-container .feedback {
  border: 1.5px solid #006b6a;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.feedback-container .star-collection {
  display: flex;
  gap: 0.3rem;
  font-size: 1.2rem;
  color: #006b6a;
  margin-bottom: 2rem;
}

.feedback img {
  width: 4rem;
  height: 4rem;
}
.feedback .person-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.feedback .person-info p {
  margin: 0;
}
.feedback .person-info h4 {
  margin: 0;
  font-size: 1.1rem;
}
/* feedback section end */
/* css end */

/* responsive css start */

@media (max-width: 1194px) {
  #hero-section .left-div h1 {
    font-size: 56px;
  }
  #hero-section .left-div {
    width: 90%;
  }
  .skills-card .card img {
    width: 90px;
  }
  .sub-section-heading {
    font-size: 2rem;
    margin: 0;
  }
}

@media (max-width: 1047px) {
  #skill-section .skills-card {
    grid-template-columns: repeat(2, auto);
  }

  #skill-section .skills-card h3 {
    font-size: 1.3rem;
  }
  #skill-section .skills-card p {
    font-size: 1rem;
  }
  #skill-section .skills-card .card {
    padding: 1rem;
  }

  .projects-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .feedback-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media (max-width: 990px) {
  #hero-section .left-div {
    width: 100%;
  }
  #hero-section .left-div h1 {
    font-size: 48px;
  }
}

@media (max-width: 850px) {
  #hero-section .left-div h1 {
    font-size: 40px;
  }
  .header-container img {
    height: 35px;
  }
  .header-container nav ul {
    gap: 1.5rem;
  }

  #about-me .container {
    gap: 2rem;
  }

  #about-me .container .right-div p:nth-child(3) {
    margin-top: 2rem;
  }
}

@media (max-width: 800px) {
  #hero-section .left-div {
    text-align: center;
    margin-bottom: 2rem;
  }
  #hero-section .container {
    flex-direction: column;
  }

  #about-me .container {
    flex-direction: column;
  }
  #about-me .container .right-div {
    text-align: center;
    width: 100%;
  }

  #about-me .container .left-div {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #about-me .container .left-div img {
    max-width: 450px;
  }
}

@media (max-width: 750px) {
  header #menu-icon {
    display: inline-block;
    font-size: 2rem;
  }
  /* menu style 1 start */
  /* .header-container nav {
    position: absolute;
    top: 112%;
    right: 1rem;
    width: auto;
    display: none;
    flex-direction: column;
    padding: 1.5rem 2rem;
    background-color: var(--white);
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    z-index: 9;
  }

  header.menu-open nav {
    display: flex;
  }

  header.menu-open nav ul {
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  header.menu-open nav .btn {
    padding: 0.6rem 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 400;
  } */

  /* menu style 2 start */
  .header-container nav {
    position: fixed;
    top: 70.4px;
    right: 0;
    height: calc(100% - 70.4px);
    overflow-y: scroll;
    width: 0;
    max-width: 220px;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    display: flex;
    z-index: 9;
  }
  header.menu-open-2 nav {
    width: 100%;
  }

  .header-container nav > span {
    display: none;
  }
  .header-container nav ul {
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .header-container nav .btn {
    padding: 0.6rem 1rem;
    margin: 1.5rem auto;
    width: 80%;
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 400;
    white-space: nowrap;
  }
}

@media (max-width: 570px) {
  #skill-section .skills-card {
    margin-top: 3rem;
    grid-template-columns: auto;
  }
  .my-portfolio-heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }
  .dribble-btn {
    margin-left: auto;
  }
  .projects-container {
    margin-top: 1.5rem;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
  .feedback-container {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}
/* responsive css end */
